{#
Done widget

Depends on:
    Fanstatic resource bundle "popup"

Example:
    {{ h.snippet('widget/contribute/submission-success-info.html', id="datasetPopup") }}
#}
{% asset 'hdx_theme/onboarding-done-styles' %}

{% set class = "popup-onbording" %}
{% set title = "Submission success" %}

{% extends "widget/onboarding/notification.html" %}

{% block notification_content %}
  <div class="notification-content notification-small">
    <div>
      You successfully submitted the dataset.  <br><br>
      <div style="text-align: right;">
        <a class="btn btn-primary">Close</a>
      </div>
    </div>
  </div>
{% endblock %}
